<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Статистика</title>
</head>
<body>
	<div style = "min-width: 1000px">
	<p style = "margin: 100px auto; text-align: center; font-size:3em">
		Вы ответили неверно на <%=value%>% вопросов
	</p>
	</div>
	<form action="/err_answers" method="GET">
		<input type="submit" value="Показать неправильные ответы">
	</form>
	
</body>
</html>